@tailwind base;
@tailwind components;
@tailwind utilities;

.scrollbar-hide::-webkit-scrollbar {
    display: none;
}

.scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.scrollbar-thin::-webkit-scrollbar {
    height: 8px;
}

.scrollbar-thin::-webkit-scrollbar-track {
    background: #cad8f5;
    border-radius: 9999px;
}

.scrollbar-thin::-webkit-scrollbar-thumb {
    background: #8bc249;
    border-radius: 9999px;
}

.scrollbar-thin::-webkit-scrollbar-thumb:hover {
    background: #7ab138;
}

@layer utilities {
    .heading-black {
        @apply mt-8 text-black text-lg lg:text-3xl font-bold;
    }
    .heading-green {
        @apply text-4xl font-bold text-primary mb-6;
    }
}


@layer base {
  * {
    @apply border-border;
    }
  body {
    @apply bg-background text-foreground;
    }
}